.typography {
  margin: 0;
}

.primary {
  color: var(--ds-color-text-primary);
}

.secondary {
  color: var(--ds-color-text-secondary);
}

.tertiary {
  color: var(--ds-color-text-tertiary);
}

.muted {
  color: var(--ds-color-text-muted);
}

.disabled {
  color: var(--ds-color-text-disabled);
}

.onLight {
  color: var(--ds-color-text-on-light);
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
